*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("/imagenes/27333-rick-y-morty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    width: 100%;
    height: 100%;
}
.btn{
    display: block;
    margin: 20px auto;
    
}
